:root {
  --card-color: rgb(30, 30, 30);
}

body {
  /* background-color: black; 
  background: #cac531; fallback for old browsers 
  background: -webkit-linear-gradient(
    to right,
    #f3f9a7,
    #cac531
  ); /* Chrome 10-25, Safari 5.1-6 
  background: linear-gradient(
    to right,
    #f3f9a7,
    #cac531
  );  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-color: #f9f9f9;

  margin: 0px;
  padding: 0px;
}

.start-section {
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0rem;
}

/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: transparent;
  font-family: "Space Mono", monospace;
  font-size: 24px;
}

/* Navbar links */
#navbar button {
  float: left;
  display: block;
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-family: "Space Mono", monospace;
  font-size: 26px;

}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.name {
  font-family: "Space Mono", monospace;
  font-size: clamp(3rem, 8vw, 9rem);
  color: black;
  font-weight: 900;
  /* padding: 0rem clamp(1rem, 2vw, 3rem); */
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
  padding: 0 15px;
  margin: 10px;
  margin-bottom: 2px;
  border: 1.4px solid black;
  box-shadow: 10px 10px 2px 2px rgba(0, 0, 255, 0.2);
}

.name:hover {
  /* background-color: whitesmoke; */
  color: black;
}

.role-title {
  color: black;
  font-family: "Space Mono", monospace;
  text-decoration: none;
  font-size: 1.8rem;
  margin: 0;
  font-weight: bold;
}

/* .role-title:hover {
  text-decoration: underline;
} */

.selfie {
  width: 250px;
  height: 250px;
  border-radius: 20px;
}

.selfie:hover {
  transform: scale(1.02);
  transition: 0.8s;
  box-shadow: 7px 7px 1px 1px rgba(0, 0, 255, 0.2);
}

/* card stacking section */

.section-two {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-family: "Space Mono", monospace;
  background: #cac531; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f3f9a7,
    #cac531
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f3f9a7,
    #cac531);
}

.kort {
  width: 100%;
  height: 100vh;
  color: white;
  /* display: flex; */
  position: sticky;
  bottom: 0;
}

.kort-1 {
  background-color: #fcf003;
  color: black;
  z-index: 4;
  display: flex;
  justify-content: space-between;
}
.kort-2 {
  background-color: #0202e0;
  z-index: 3;
}
.kort-3 {
  background-color: green;
  z-index: 2;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.image-container {
  display: flex;
  align-items: flex-end;
  margin-right: 20px;
  margin-bottom: 20px;
}

.image-container > img {
  height: 300px;
  width: 300px;
}

.scroll-header {
  font-size: 7.5em;
  line-height: 0.8;
  padding: 100px 0 0 0;
  margin: 0 0 100px 15px;
}

.scroll-text {
  font-family: 'Signika', sans-serif;
  padding: 0 15px;
  /* margin-top: 250px; */
  font-size: .875rem;
}

.project-container {
  display: flex;
  justify-content: space-evenly;
}

.project-box {
  border: 1.5px solid white;
  width: 275px;
  height: 250px;
  border-radius: 5px;
}

.project-box > a {
  color: white;
  margin-left: 10px;
  text-decoration: none;
}

.project-box > a:hover {
  text-decoration: underline;
}

.project-box:hover {
  transform: scale(1.05);
  transition: 0.8s;
}

.project-box-header-text {
  text-decoration: underline;
  text-underline-offset: 4px;
  margin: 5px 0 0 10px;
}

.project-box-text {
  margin: 15px 0 15px 10px;
  font-size: 0.8em;
}

.testbild {
  height: 100vh;
}

.hover-2 {
  background: 
    linear-gradient(#f9f9f9 0 0) no-repeat
    calc(200% - var(--i, 0) * 100%) 100% / 200% calc(100% * var(--i, 0) + .01em);
  transition: .2s calc(var(--i, 0) * .3s), background-position .2s calc(.2s - calc(var(--i, 0) * .2s));
}
.hover-2:hover {
  --i: 1;
}