body {
  background-color: whitesmoke;
  margin: 0px;
  padding: 0px;
}

body::-webkit-scrollbar {
  width: 0; /* width of the entire scrollbar */
}

.start-section {
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0rem;
}

/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: whitesmoke;
  font-family: "Space Mono", monospace;
  font-size: 24px;
}

/* Navbar links */
#navbar button {
  display: inline-block;
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-family: "Space Mono", monospace;
  font-size: 16px;
  height: 40px;
}

#navbar button:hover {
  color: white;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.name-banner {
  font-family: "Space Mono", monospace;
  font-size: 4.5rem;
  color: black;
  font-weight: 900;
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
  padding: 0 15px;
  margin: 10px;
  margin-bottom: 2px;
  border: 1.4px solid black;
  box-shadow: 10px 10px 2px 2px rgba(0, 0, 255, 0.2);
}

.selfie {
  width: 250px;
  height: 250px;
  border-radius: 20px;
}

/* .selfie:hover {
  transform: scale(1.02);
  transition: 0.8s;
  box-shadow: 7px 7px 1px 1px rgba(0, 0, 255, 0.2);
} */

.role-title {
  color: black;
  font-family: "Space Mono", monospace;
  text-decoration: none;
  font-size: 1.8rem;
  margin: 0;
  font-weight: bold;
}

/* CARD stacking section */

.section-two {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

/* Hover effect for navbar */
.nav-hover {
  background: linear-gradient(black 0 0) no-repeat
    calc(200% - var(--i, 0) * 100%) 100% / 200%
    calc(100% * var(--i, 0) + 0.01em);
  transition: 0.2s calc(var(--i, 0) * 0.3s),
    background-position 0.2s calc(0.2s - calc(var(--i, 0) * 0.2s));
}
.nav-hover:hover {
  --i: 1;
}

.card {
  width: 100%;
  height: 100vh;
  color: #ffffff;
  position: sticky;
  bottom: 0;
}

.card-1 {
  background-color: #1d1ae5;
  z-index: 4;
  display: flex;
  justify-content: space-between;
}
.card-2 {
  background-color: #e46ba1;
  z-index: 3;
}
.card-3 {
  background-color: #ffe600;
  color: #11190c;
  z-index: 2;
}

/* Card-1 text & image containers */

.text-container {
  display: flex;
  flex-direction: column;
}

span {
  text-decoration: underline;
  font-size: 18px;
}

.icon-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 55%;
  margin: 30px 0 50px 15px;
}

.icon-container > img {
  margin-right: 15px;
  margin-bottom: 20px;
}

.image-container {
  display: flex;
  align-items: flex-end;
  margin-right: 20px;
  margin-bottom: 20px;
}

.code-image {
  height: 350px;
  width: 350px;
  border-radius: 12px;
}

/* Headers on card stacking */

.scroll-header {
  font-size: 7.5em;
  line-height: 0.8;
  padding: 100px 0 0 0;
  margin: 0 0 50px 15px;
}

/* p-tags on card stacking */

.scroll-text {
  font-family: "Signika", sans-serif;
  margin: 0 15px;
  font-size: 0.95rem;
}

/* card-2 PROJECTS */

.wrapper {
  overflow-x: hidden;
  position: relative;
  z-index: 3;
  background-color: #e46ba1;
}

.container {
  display: flex;
  width: 300vw;
}

.projects-header {
  font-size: 7.5em;
  line-height: 0.8;
  padding: 10px 0 0 0;
  margin: 75px 0 0 15px;
  height: fit-content;
}

.pin {
  width: 100vw;
  padding: 15.5vw 10vw;
}

.col1 {
  border-radius: 4px;
  padding: 3px;
  /* background-color: whitesmoke; white bg for all text fields */
}

.col {
  display: flex;
  gap: 3em;
  /* background-color: whitesmoke;  white bg for p fields only */
}

.col > p {
  font-size: 0.85rem;
  margin: 0;
}

.project-links {
  font-size: 14px;
  margin-right: 5px;
}

.project-links > a {
  color: black;
}
.project-image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-image {
  height: 140px;
  width: 250px;
  border-radius: 4px;
}

.project-image:hover {  
  box-shadow: 6px 6px #000000;
  transform: scale(1.02);
}

/* Card-3 CONTACT */

.contact-container {
  display: flex;
  justify-content: space-between;
  font-family: "Space Mono", monospace;
  height: 100%;
}

.contact-form-container {
  display: flex;
  align-items: center;
  margin: 100px 50px 50px 0;
}

.contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 450px;
  width: 350px;
  border-radius: 12px;
  border: 1.5px solid black;
}

.form-header-text {
  font-family: "Space Mono", monospace;
  color: #11190c;
  text-decoration: underline;
}

textarea {
  resize: none;
  margin: 5px 0 0 0;
  background-color: black;
  color: white;
}

input {
  margin-bottom: 10px;
  background-color: black;
  color: white;
  border: none;
  padding: 3px;
  font-family: "Space Mono", monospace;
}

.form-label {
  font-size: 24px;
}

.form-submit-btn {
  background-color: #e1d9d1;
  border-radius: 5px;
  font-family: "Space Mono", monospace;
  padding: 5px;
  margin-top: 8px;
  cursor: pointer;
  width: 100%;
}

.form-submit-btn:hover {
  transform: scale(1.02);
}

.other-contacts {
  display: flex;
  flex-direction: column;
  height: 165px;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  margin-top: 10px;
}

.other-contacts > a {
  margin-right: 50px;
  font-size: 24px;
  color: #11190c;
  text-decoration: none;
}

.other-contacts > a:hover {
  color: black;
}

.other-contacts > a {
  background: linear-gradient(#ffffff 0 0) no-repeat
    calc(200% - var(--i, 0) * 100%) 100% / 200%
    calc(100% * var(--i, 0) + 0.01em);
  transition: 0.2s calc(var(--i, 0) * 0.2s),
    background-position 0.1s calc(0.1s - calc(var(--i, 0) * 0.1s));
}
.other-contacts > a:hover {
  --i: 1;
}

@media screen and (max-width: 930px) {
  .image-container {
    display: none;
  }

  .text-container > .scroll-header {
    margin-bottom: 50px;
  }

  .icon-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 5px;
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  #navbar {
    display: none;
  }

  .start-section {
    height: 75vh;
  }

  .card {
    height: 100%;
    padding-bottom: 25px;
    overflow-x: hidden;
  }

  .scroll-header {
    font-size: 4em;
    padding-top: 30px;
    margin-bottom: 15px;
  }

  .name-banner {
    font-size: 2.2rem;
  }

  .selfie {
    width: 200px;
    height: 200px;
  }

  .role-title {
    font-size: 1rem;
  }

  .card-1 {
    display: block;
  }

  .project-container {
    display: block;
  }

  .project-boxes {
    width: 100%;
    height: 100%;
    margin-top: 5px;
  }

  .project-box-header-text {
    padding: 0;
    margin: 0;
    font-size: 14px;
  }

  .project-box-text {
    margin: 0;
  }

  .contact-container {
    display: block;
  }

  .contact-form-container {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .other-contacts {
    height: 100%;
    margin: auto;
    margin-top: 10px;
    border: 1px solid #e1d9d1;
  }

  .card-3 > a {
    margin: 0;
    padding: 0;
  }

  .contact-form {
    border: none;
    margin: 0;
    height: 300px;
  }

  .form-header-text {
    /* font-size: 20px; */
    margin: 0 0 5px 0;
  }

  .form-label {
    font-size: 16px;
  }

  textarea {
    height: 40px;
  }
}
